@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
	height: 100vh;
	font-family: 'Roboto', sans-serif;
	margin: 0;
	box-sizing: border-box;
	overflow: hidden;
	font-weight: 300;
}

.App {
  display: grid;
  grid-template-columns: 20% 80%;
  grid-template-rows: 10vh 70vh 20vh;
  grid-template-areas:
    'header header'
    'aside main'
    'footer footer';
}

header {
  grid-area: header;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

aside {
  grid-area: aside;
  background-color: black;
}

main {
	grid-area: main;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: black;
	overflow-y: scroll;
}

footer {
	grid-area: footer;
	background-color: black;
	display: flex;
	justify-content: center;
	align-items: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 200;
  margin: 0;
  padding: 0;
  color: #fff;

}

@media only screen and (max-width: 1000px) {
	.App {
		overflow: hidden;
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: 10vh 65vh 25vh;
		grid-template-areas:
			'header header'
			'main main'
			'footer footer';
	}
}


a {
	color: #fff;
	text-decoration: none;
}

p {
	margin: 0.5rem 0rem;
	color: #fff;
	font-size: 0.8rem;
}


/* Hide scrollbar for Chrome, Safari and Opera */
.hideC::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hideC {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}