@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
	font-family: 'Roboto', sans-serif;
	margin: 0;
	box-sizing: border-box;
}

.App {
	display: grid;
	grid-template-columns: 20% 80%;
	grid-template-rows: 10vh 80vh 10vh;
	grid-template-areas:
		'header header'
		'aside main'
		'footer footer';
}

header {
	grid-area: header;
	background-color: black;
}

aside {
	grid-area: aside;
	background-color: black;
}

main {
	grid-area: main;
	display: flex;
	justify-content: center;
	align-items: center;
    background-color: #333;
}

footer {
	grid-area: footer;
	background-color: black;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	padding: 0;
	color: #fff;
}
